.one{
    background-image: url("woddPlank.jpg");

}

.cerf{
    margin:px;
    padding: 850px;
     padding-top: 250px;
     
}

.soir{

}
li{

list-style: none;
display: inline-block;
margin: 10px;
padding: 5px 10px;

} 
