.cubeviolet
{
    background-color: purple;
    height:200px;
    width:200px;
    float: left;
    text-align: center;
    border-radius: 25%;
}
.cubevert
{
    background-color: springgreen;
    height:200px;
    width:200px;
    float: left;
    text-align: center;
    border-radius: 25%;
}
.clear {
    clear: both;
}