*{
    --orange-red: #fe5f55;
    --light-blue: #a3e7fc;
    --blue-grey: #7f7f9f;
    --brown: #5a3a31;
    --dark-brown: #31231e;
    --bodyfont: 'Montserrat', sans-serif;
    --titles-font: 'Quattrocento Sans', sans-serif;
    --bgcolor: rgba(101, 58, 49, 0.35);
    --boxcolor: rgba(254, 95, 85, 0.60 );
}