body{
    width: 70%;
    margin: 0 auto;
}

.mot{
background-color: yellow  ;
text-align: center;
height: 100px;
}
.bot{
    background-color: rgb(45, 235, 45);
    text-align: center;
   height: 750px;
  width: 30%;
    float: left;
}
.bote{
    background-color: green;
    text-align: center;
    height: 750px;
   width: 70%;
    float: left;
    
}
p{
    margin: 0;
}
