.white{
    background-color: white;
}
.black{
    background-color: black;
}
.darkerbrown{
    background-color: #33261D;
}
.lighterbrown{
background-color: #89350A;
}
.lightbrown{
    background-color: #423223;
}
.beige{
    background-color: #FFAA7D;
}
.darkbeige{
    background-color: #FC9B66;
}
.lightergreen{
    background-color: #689634;
}
.lightgreen{
    background-color: #405922;
}
.green{
    background-color: #32471B;
}
.darkgreen{
     background-color: #28351A;
}
.yellow{
    background-color: #FECC35;
}
.marron5{
    background-color: #742C0C;
}
.lightbeige{
    background-color: #FEEACD;
}
.darkwhite{
    background-color: #FFECCB;
}
.autremarron{
    background-color: #714726;
}
.marron4{
    background-color: #7E512B;
}
.lastmarron{
    background-color: #99612F;
}

