*
{
	box-sizing: border-box;
}
body
{
    margin: 0;
	font-family: "Montserrat", sans-serif;
}
.intro
{
	text-align: center;
    padding: 0;
    color: white;
    background: url(img/dinosaure.jpg) no-repeat center fixed;
    background-size: cover;
}
header
{
	text-align: center;
    padding:30px;
    width: 100%;
    position: fixed;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
}
nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin:0 auto;
}
nav li a
{
    text-decoration: none;
    text-transform: uppercase;

	padding: 8px 10px;
	margin:0px 50px;
    color: #FFF;
}
nav li a:hover
{
	border-top:white 1px solid;
}
nav li a:focus
{
	border-top:green 1px solid;
}
#billetbut
{
	background-color: #1C5F81;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    margin: 0em;
}
#billetbut:hover
{
	background-color: #fff;
	color:#1C5F81;
	border:#1C5F81 solid 1px;
}
.fas, .fa-ticket-alt
{
	padding-right:7px;
	transform: rotate(-45deg);
}
.logo
{
    width: auto;
    height: auto;
    padding: 6em;
}

.bandeau
{
	margin: 0 auto;
    position: absolute;
    right: 0;
    top: 50em;
}
.main
{
	margin:0 auto;
	margin-top: 60px;
	text-align: center;
	margin-bottom: 60px;
}
h1
{
	margin-left:auto;
	margin-right: auto;
	width:35%;
	font-weight: bold;
	font-size: 45px;
}
.img-hover-zoom
{
    overflow: hidden;
}

.img-hover-zoom
{
    transition: transform 2.5s ease;
}

.img-hover-zoom:hover
{
    transform: rotate(360deg) scale(1.2);
}
.textarea
{
	display: block;
	margin-left:auto;
	margin-right: auto;
	width:40%;
	text-align: left;
}
.textarea p 
{
	margin-top: 40px;
	margin-bottom: 40px;
}
.bold
{
	font-weight: 700;
}
.ita
{
	font-style: italic;
}
.textBig 
{
	text-align: center;
	font-weight: 600;
	font-size:25px;
}
 #reserver
 {
	background-color: #1C5F81;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
	margin-left:auto;
	margin-right: auto;
	display: block;
	width:25%;
 }
 #reserver:hover, #acheter:hover
 {
	 background-color: #fff;
	 color:#1C5F81;
	 border:#1C5F81 solid 1px;
 }
 #bottomMain
 {
	display:flex;
    justify-content: center;
	 padding-bottom: 100px;
	 padding-top: 80px;
 }
 #leftpart, #rightpart
{
    width:30%;
}
h2
{
	display: inline-block;
	font-size: 30px;
}
#acheter
{
	background-color: #1C5F81;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
	display: block;
	width:45%;
}
#tarif
{
	padding-bottom: 80px;
	border-bottom:1px solid grey;
	width:85%;
}
#L-bot-part
{
	padding-top: 60px;
}
#leftpart p 
{
	line-height: 25px;
}
.fa-bus
{
	transform: rotate(0deg);
	padding:0;
}
#rightpart img 
{
	width:20px;
}
#rightpart p
{
	line-height: 25px;
}
#partners
{
	text-align: center;
	width:60%;
	margin: 0 auto;
	padding-bottom: 150px;
}
#partners h2
{
	font-size: 40px;
	margin-bottom: 60px;
}
#partners-flex
{
	display: flex;
	justify-content: space-between;
}
footer
{
	background-color: black;
	display: flex;
	justify-content: space-evenly;
	padding-top: 150px;
	padding-bottom: 50px;
}
footer ul
{
	list-style-type: none;
}
footer li
{
	color:white;
	font-weight: bold;
	line-height: 25px;
}
#tfS
{
	max-height: 45px;
}
#journalD
{
	max-height: 40px;
}