table{
    width:30%;
    text-align: center;
    border-collapse:collapse;
    border: 4px solid #4E3990;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}
th{
    border: transparent;
}
td{
    border:2px dotted #4E3990;
}
caption{
    font-size: large;
    font-weight: bolder;
}