.niveau2
{
    margin-top: 45px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    text-align: center;
    line-height: 30px;
}
.sousMenu
{
    display: flex;
    justify-content: center;

}
.niveau2 li
{
    width:100%!important;
    border-bottom: 1px solid black;
}
#menuDeroulant nav
{
    background-color: rgba(20,20,20,0.1);
}
nav a
{
    display: block;
    width: 90%;
}
.sousMenu:hover .niveau2
{
    display: block;

}

