table{
    text-align: center;
     position: relative;
     left: 40em;
    border: solid 1px;
}
td p {
    font-family:'Montserrat', sans-serif;
}
p + img{
    margin-top: 2em;
}
tbody img{
    margin-top: 2em;
    margin-bottom: 2em;
}
