.black{
    background-color: #010103;
}
.brown{
    background-color: #312519;
}
.brown2{
    background-color: #423223;
}
.clay{
    background-color: #fdab7c;
}
.orange{
    background-color: #fe9a66;
}
.dark-red{
    background-color: #29361c;
}
.lightred{
    background-color: #6c963a;
}
.red{
    background-color: #375d24;
}
.green
{
    background-color: green;
}
.gold{
    background-color: #fdcd36;
}
.light-brown{
    background-color: #89340c;
}
.brown-brown{
    background-color: #772c0d;
}
.brown3
{
    background-color:rgb(179, 109, 5);
}