.haut{
    height: 100px;
    background-color: yellow;
    text-align: center;
    padding: 70px;
    margin: auto;
}

.gauche{  
    height: 100px;
    float: left;
background-color: greenyellow;
padding: 250px;
margin: auto;
}

.droite{ 
    height: 100px;
background-color: green;
padding: 250px;
margin: auto;
text-align: center;
float: inherit;
}