*
{
    box-sizing: border-box;
}
body
{
    font-family: 'Baloo Chettan 2', cursive;
    margin: 0 auto;
}
header
{
    background-color: #FA9100;
    border-top: #FECB41 4px solid;
    border-bottom: #FECB41 4px solid;
    margin-top:80px;
}
#yog
{
    display:flex;
    position: relative;
    margin-top: -60px;
}
#yog-img
{
    display:block;
    width:5%;
    margin-left: auto;
    margin-right: auto;
}
nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin:0 auto;
    padding: 0;
    margin-top: 15px;
}
nav li
{
    font-family: 'Comic Neue', cursive;
    text-decoration: none;
    padding: 20px 25px;
    margin:1px 10px;
    color:white;
}
h1
{
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    font-family: 'Comic Neue' , cursive;
    font-size: 45px;
}

