body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header{
    background-image: url(../img/images.png);
    background-size: 40px;
    display: flex;
}
#logoW3C{
    width: 24%;
    display: flex;
    justify-content: flex-end;
}
header img:first-of-type{
    height: 8em;
    width: 55%;
}
nav{
    display: flex;
    align-items: center;
    width: 60%;
}
li i{
    color: #98DDDD;
    padding-left: 5px;
}
h4{
    font-size: smaller;
    font-weight: 600;
}
.phone{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD400;
    width: 2em;
    height: 2em;
}
.bigphone{
    display: flex;
    align-items: center;
    width: 33%;
}
ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
li{
    list-style: none;
    font-size: 15px;
    font-weight: 600;
}
ul a{
    color: black;
    text-decoration: none;
}
.num{
    margin: 0;
    padding-left: 0.5em;
}
.num2{
    margin: 0;
    padding-left: 0.5em;
    font-weight: 600;
}
#imgt{
    transform: scaleX(-1);
    width: 40%;
    height: 30rem;
    position: relative;
    bottom: 30em;
    left: 7.5%;
}
main section:first-of-type{
    display: flex;
    margin: 0 auto;
    width: 88%;
    justify-content: space-between;
}
.bigArrow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD400;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}
.back p{
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}
.yes{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h5{
    color: white;
    font-size: 15px;
    font-weight: 100;
}
.backa a{
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}
.backa{
    background-color: #FFD400;
    width: 14em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #807600 7.5px solid;
}
.column{
    display: flex;
    flex-direction: column;
}
.column div:nth-of-type(2){
    background-color: #66CCCC;
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
}
.column div:nth-of-type(2) p:first-of-type{
    margin: 5px;
    color: white;
}
.column div:nth-of-type(2) p:last-of-type{
    margin: 5px;
    font-weight: 600;
}
.column div:nth-of-type(2) p:last-of-type span{
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 4px;
}
.back{
    width: 53%;
    position: relative;
    display: flex;
    z-index: 1;
}
.logo{
    width: 10%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.logo a:first-of-type i{
    margin-right: 3px;
}
.logo i{
    color: white;
}
.baks1{
    background-color: #3B5998;
}
.baks2{
    background-color: #44A5EE;
}
.logo div{
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 3em;
    height: 3em;
}
.baks3{
    background-color: #2C7CB6;
}
#yellow{
    background-color: #FFD400;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2:first-of-type{
    margin-top: 1em;
}
h2{
    margin: 0 auto;
}
hr{
    margin: 0;
}
#share{
    transform: rotate(270deg);
    margin: 0;
    font-size: 11px;
    font-weight: 600;
}
section .condition p:first-of-type{
    text-align: center;
}
.clear{
    clear: both;
}
.maj{
    margin-top: 5em;
}
#icon{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: 0 auto;
}
#below p{
    margin-top: 5px;
    width: 10%;
}
#below{
    text-align: center;
    font-size: 12px;
    width: 75%;
    margin: 0 auto;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}
#icon .fullicon{
    width: 10%;
    border-bottom: #66CCCC 3px solid;
    display: flex;
    justify-content: center;
}
.condition p span:first-of-type{
    background-color: black;
    color: white;
    padding: 0.5em;
    font-size: 15px;
    border-radius: 5px;
}
#inback{
    position: absolute;
    width: 100%;
    height: 38em;
    display: flex;
    background-color: rgba(17, 16, 80, 0.75);
}
#inback > div:first-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding-left: 130px;
}
.back img{
    max-width: 100%;
    transform: scaleX(-1);
}
.space{
    display: flex;
    justify-content: center;
    margin-bottom: 8em;
    margin-top: 5em;
}
.column1{
    display: flex;
    flex-direction: column;
    width: 33%;
}
.column1 button{
    background-color: #66CCCC;
    width: 20%;
    height: 40px;
    font-weight: bolder;
    border: solid #66CCCC 1px;
    border-bottom: solid #51B8B8 9px;
}
.column1 button a {
    text-decoration: none;
    color: white;
}
section:nth-of-type(3){
    background-color: #66CCCC;
    margin: 0;
}
