.vert,.blue,.salmon,.red,.bleu{
    text-align: center;
    height: 10em;
    width: 10em; 
    border: 0.2em solid black;
    display: inline-block;
    margin: 0.2em;
}
.blue{
background-color: cyan;
border-radius: 40% 0%;


}
.vert{
    background-color: green;
    border-radius: 10% 20% 40% 30%;
   
}
.salmon{
    background-color: salmon;
    border-radius: 20% 40%;
    
}
.white{ 
    width: 10em;
    display: inline-block;
    margin: 0.2em;
    background-color: white;
}
.red{
background-color: red;
  border-radius:  20%;  
  

}
.bleu{
    background-color: aquamarine;
    border-radius: 50%;
    width: 7em;
    height: 7em;
}
.clear{
    clear: both;
}
